.homestyle {
    background-color:#9d6b53;
    padding: 20px;
}

.title{
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    color: white;
    padding: 10px;
    letter-spacing: 20px;
    
}

.descript{
    text-align: center;
    color: white;
    font-family: 'Libre Baskerville';
    font-size: 20px;
}

.secondrow{
    padding: 20px;
}